* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: 960px;
    background-color: #e5eaee;
}

.footer {
    width: 100%;
    height: 120px;
    background-color: #3e3f41;
}

.menu {
    width: 80%;
    height: 50px;
    padding: 5% 10% 1% 10%;
    float: left;
}

.menu_bar {
    float: left;
}

.menu_bar img {
    width: 36px;
    height: 22px;
    margin: 20px;
}

.logo {
    float: left;
}

.logo img {
    width: 150px;
    height: 60px;
    margin: 1px;
}

.language {
    float: right;
}

.language img {
    width: 52px;
    height: 30px;
}

.content {
    width: 60%;
    height: 55%;
    padding: 7% 20% 7% 20%;
    float: left;
}

.footer_content {
    width: 65%;
    height: 80%;
    padding: 0.75% 17.5% 0.75% 17.5%;
}

.info {
    width: 10%;
    height: 100%;
    float: left;
    margin: 5px 15px 0 15px;
}

.info a {
    font-size: 13px;
    font-weight: bold;
    margin: 2px 0;
    color: #ffffff;
    float: left;
    width: 100%;
}

.icon {
    width: 10%;
    height: 100%;
    float: left;
    margin: 2px 15px 0 15px;
}

.icon img {
    width: 20px;
    height: 20px;
    float: left;
    margin: 1px 8px 1px 1px;
}

.icon a {
    font-size: 15px;
    font-weight: bold;
    margin: 4px 0;
    color: #ffffff;
    float: left;
    width: 100%;
}

.ad {
    width: 35%;
    height: 100%;
    float: left;
    background-color: #ffffff;
    margin: 0 15px;
}

.tos {
    width: 35%;
    height: 100%;
    float: left;
    margin: 4px 15px 0 15px;
}

.tos p {
    font-size: 13px;
    font-weight: bold;
    margin: 4px 0;
    color: #ffffff;
    float: left;
    width: 100%;
}

.tos a {
    font-size: 10px;
    margin: 4px 0;
    color: #ffffff;
    float: left;
    width: 100%;
}

.date_bar {
    width: 90%;
    height: 60%;
    padding: 0% 5% 1% 5%;
    display: block;
}

.day_input {
    width: 31%;
    height: 100%;
    background-color: #3e3f41;
    float: left;
    margin: 0 10px;
    box-shadow: 3px 5px 15px #888;
    border-radius: 10%;
}

.day_input:hover {
    transform: scale( 1.025 );
}

.day_menu {
    width: 78%;
    height: 12%;
    padding: 10% 1% 1% 15%;
    float: left;
}

.day_menu p {
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    float: left;
}

.day_value {
    width: 60%;
    height: 55%;
    padding: 1% 1% 1% 1%;
    float: right;
}

.day_value:hover {
    cursor: pointer;
}

.day_value_1 {
    font-weight: bold;
    font-size: 165px;
    padding: 0;
    margin: 5px 0px 0px 0px;
    color: #ffffff;
    float: right;
}

.day_value_2 {
    font-weight: bold;
    font-size: 165px;
    padding: 0;
    margin: 5px -15px 0px 0px;
    color: #ffffff;
    float: right;
}

.day_menu img {
    padding: 1%;
    width: 28px;
    height: 28px;
    float: right;
}

.day_menu img:hover {
    cursor: pointer;
    border-radius: 10px;
    transform: scale( 1.025 );
    box-shadow: 3px 5px 15px #888;
}

.week_input {
    width: 31%;
    height: 100%;
    background-color: #e5eaee;
    float: left;
    margin: 0 10px;
    box-shadow: 3px 5px 15px #888;
    border-radius: 10%;
}

.week_menu {
    width: 78%;
    height: 12%;
    padding: 10% 1% 1% 15%;
    float: left;
}

.week_menu p {
    font-weight: bold;
    font-size: 18px;
    color: #3e3f41;
    float: left;
}

.week_value {
    width: 60%;
    height: 55%;
    padding: 1% 10% 1% 1%;
    float: right;
}

.week_value_1 {
    font-weight: bold;
    font-size: 165px;
    padding: 0;
    margin: 12px -20px 0px 0px;
    color: #3e3f41;
    float: right;
}

.week_value_2 {
    font-weight: bold;
    font-size: 165px;
    padding: 0;
    margin: 10px -15px 0px 0px;
    color: #3e3f41;
    float: right;
}

.week_value p {
    width: 30px;
    margin: 72% 0 0 0;
    font-weight: bold;
    font-size: 50px;
    color: #3e3f41;
    float: right;
}

.week_menu img {
    width: 28px;
    height: 28px;
    float: right;
}

.month_input {
    width: 31%;
    height: 100%;
    background-color: #e5eaee;
    float: left;
    margin: 0 10px;
    box-shadow: 3px 5px 15px #888;
    border-radius: 10%;
}

.month_menu {
    width: 78%;
    height: 12%;
    padding: 10% 1% 1% 15%;
    float: left;
}

.month_menu p {
    width: 65px;
    height: 45px;
    font-weight: bold;
    font-size: 18px;
    color: #3e3f41;
    float: left;
}

.month_value {
    width: 70%;
    height: 55%;
    padding: 1% 10% 1% 1%;
    float: right;
}

.month_value_1 {
    font-weight: bold;
    font-size: 165px;
    padding: 0;
    margin: 15px -20px 0px 0px;
    color: #3e3f41;
    float: right;
}

.month_value_2 {
    font-weight: bold;
    font-size: 165px;
    padding: 0;
    margin: 15px -22px 0px 0px;
    color: #3e3f41;
    float: right;
}

.month_value p {
    width: 30px;
    margin: 63% 0 0 0;
    font-weight: bold;
    font-size: 50px;
    color: #3e3f41;
    float: right;
}

.month_menu img {
    width: 28px;
    height: 28px;
    float: right;
}

.search_bar {
    width: 90%;
    height: 15%;
    padding: 2% 5% 15% 5%;
    display: block;
}

.control_button {
    width: 8%;
    height: 100%;
    background-color: #e5eaee;
    float: left;
    margin: 0 10px;
    box-shadow: 3px 5px 15px #888;
    border-radius: 35%;
}

.control_button img {
    width: 55px;
    height: 55px;
    float: left;
    padding: 12% 0 0 15%;
}

.search {
    width: 87%;
    height: 100%;
    background-color: #e5eaee;
    float: left;
    margin: 0 10px;
    box-shadow: 3px 5px 15px #888;
    border-radius: 25px;
}

.search input {
    width: 75%;
    height: 60%;
    float: left;
    margin: 1.75% 0 0 7%;
    border-radius: 5px;
    background-color: #e5eaee;
    font-weight: bold;
    font-size: 18px;
    color: #3e3f41;
    border: none;
}

.search input::placeholder {
    font-weight: bold;
    font-size: 18px;
    color: #bdbdbd;
}

.search input:focus {
    outline: none;
}

.search img {
    width: 55px;
    height: 55px;
    float: right;
    padding: 1% 5% 1% 1%;
}

.calender {
    position: relative;
    top: -115%;
    left: 35.5%;
    width: 58%;
    height: 95%;
    background-color: #e5eaee;
    box-shadow: 3px 5px 15px #888;
    border-radius: 25px;
    display: none;
    
    animation: zoomIn 0.1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.cal_exit_button {
    width: 98%;
    height: 40px;
    padding: 15px 0 0 0;
    float: left;
}

.cal_exit_button img {
    width: 40px;
    height: 40px;
    float: right;
}

.cal_header {
    width: 100%;
    height: 60px;
    float: left;
}

.cal_head {
    width: 40%;
    height: 60px;
    float: left;
}

.cal_head a {
    width: 100%;
    height: auto;
    font-size: 18px;
    text-align: center;
    margin: 10px 0 0 0;
    float: left;
}

.cal_nav {
    width: 60%;
    height: 60px;
    background-color: #ffffff;
    float: left;
}

.ul_count {
    width: 100%;
    height: 100%;
    max-height: 300px;
    overflow: auto;
}

.search ul {
    background-color: #e5eaee;
    width: 100%;
    height: auto;
    max-height: 220px;
    margin: 15px 0;
    float: left;
    box-shadow: 3px 5px 15px #888;
    border-radius: 25px;
}

.search ul li:hover {
    cursor: pointer;
}

.search ul li{
    padding: 6px 65px;
    color: #3e3f41;
}

.li_count{
    font-weight: bold;
    font-size: 23px;
}

.main_bar {
    width: 100%;
    height: 100%;
    padding: 1% 1% 1% 1%;
    display: none;
    background-color: #e5eaee;
    box-shadow: 3px 5px 15px #888;
    border-radius: 30px;
    
    animation: zoomIn 0.1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.first_menu {
    display: none;
}

.main_top {
    width: 93.5%;
    height: 60px;
    margin: 30px 25px 10px 35px;
    float: left;
}

.main_daily {
    width: 150px;
    height: 50px;
    float: left;
    margin: 0 5% 0 2%;
}

.main_daily a {
    font-weight: bold;
    font-size: 23px;
    color: #3e3f41;
}

.main_daily p {
    font-size: 18px;
    color: #3e3f41;
}

.main_menu {
    width: 75%;
    height: 50px;
    float: left;
}

.main_menu li {
    list-style:none;
    width: auto;
    height: 30px;
    padding: 5px;
    margin: 0 6%;
    float: left;
    font-weight: bold;
    font-size: 18px;
    color: #3e3f41;
}

.main_menu li:hover {
    cursor: pointer;
    box-shadow: 0px 5px 0px -2px #3e3f41;
}

.exit_button img {
    width: 40px;
    height: 40px;
    float: right;
}

.main_bottom {
    width: 100%;
    height: 430px;
    float: left;
}

.main_recommend {
    width: 35%;
    height: 100%;
    float: left;
}

.up {
    position: relative;
    top: 25%;
    left: 12%;
    width: 75%;
    height: 25%;
    background-color: #e5eaee;
    box-shadow: 3px 5px 15px #888;
    border-radius: 30px;
    z-index: 2;
}

.up:hover {
    cursor: pointer;
    background-color: #dfdfdf;
    transform: scale( 1.025 );
}

.up a {
    width: 65%;
    height: 30%;
    margin: 0 1%;
    padding: 6% 1% 0% 1%;
    font-weight: bold;
    font-size: 24px;
    color: #3e3f41;
    float: left;
}

.up_bottom {
    width: 65%;
    height: 40%;
    margin: 0 2%;
    float: left;
}

.up_bottom p {
    width: 5%;
    height: 40%;
    margin: 5% 1%;
    font-weight: bold;
    font-size: 18px;
    color: red;
    float: left;
}

.up_bottom a {
    width: auto;
    height: 40%;
    margin: 0 3%;
    font-weight: bold;
    font-size: 18px;
    color: #3e3f41;
    float: left;
}

.down {
    position: relative;
    top: 22%;
    left: 20%;
    width: 72%;
    height: 22%;
    background-color: #e5eaee;
    box-shadow: 3px 5px 15px #888;
    border-radius: 30px;
    z-index: 1;
}

.down a {
    width: 60%;
    height: 28%;
    margin: 1% 1% 0 1%;
    padding: 5% 1% 0% 1%;
    font-weight: bold;
    font-size: 24px;
    color: #3e3f41;
    float: left;
}

.down:hover {
    cursor: pointer;
    background-color: #dfdfdf;
    transform: scale( 1.025 );
}

.down_bottom {
    width: 60%;
    height: 40%;
    margin: 2% 2%;
    float: left;
}

.down_bottom p {
    width: 5%;
    height: 40%;
    margin: 5% 2%;
    font-weight: bold;
    font-size: 13px;
    color: blue;
    float: left;
}

.down_bottom a {
    width: auto;
    height: 40%;
    margin: 0 1%;
    font-weight: bold;
    font-size: 15px;
    color: #3e3f41;
    float: left;
}

.main_graph {
    width: 65%;
    height: 100%;
    float: left;
    margin: -30px 0 0 0;
}

.top_menubar {
    width: 100%;
    height: 40px;
    float: left;
    margin: 5px 0 15px 55px;
}

.up_menu {
    width: 30%;
    height: 100%;
    float: left;
}

.up_menu a:hover {
    cursor: pointer;
    background-color: #dfdfdf;
    border-radius: 20px;
    transform: scale( 1.025 );
}

.up_menu a {
    width: 100%;
    height: auto;
    margin: 10px 0 0 0;
    float: left;
    color: #3e3f41;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.down_menu {
    width: 30%;
    height: 100%;
    float: left;
    color: #ffffff;
}

.down_menu a:hover {
    cursor: pointer;
    background-color: #dfdfdf;
    border-radius: 20px;
}

.down_menu a {
    width: 100%;
    height: auto;
    margin: 10px 0 0 0;
    float: left;
    color: #3e3f41;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.down_menubar {
    width: 85%;
    height: 90%;
    float: left;
    margin: 0 0 0 40px;
}

.down_menubar ul li {
    width: 100%;
    height: 25px;
    float: left;
    list-style: none;
    margin: 5px 0;
}

.rank_value {
    width: 15%;
    height: 100%;
    float: left;
    background-color: #dfdfdf;
    border-radius: 50px;
    margin: 0 0 0 10px;
}

.rank_value a {
    width: 100%;
    height: auto;
    float: left;
    color: #3e3f41;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin: 1px 0 0 0;
}

.name_value {
    width: 60%;
    height: 100%;
    float: left;
}

.name_value a {
    width: 240px;
    height: auto;
    float: left;
    color: #3e3f41;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    margin: 5px 0 0 18px;
}

.more_value {
    width: 15%;
    height: 100%;
    float: left;
}

.more_value a {
    width: 100%;
    height: auto;
    float: left;
    color: #3e3f41;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    margin: 7px 0 0 0;
}

.up_img {
    width: 80px;
    max-height: 80px;
    max-width: auto;
    margin: 15px 0 0 20px;
    overflow: hidden;
    float: left;
    border-radius: 10px;
}

.up_img img{
    margin: -10% 0 0 -10%;
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 140px;
}

.down_img {
    width: 80px;
    max-height: 70px;
    max-width: auto;
    margin: 15px 0 0 20px;
    overflow: hidden;
    float: left;
    border-radius: 10px;
}

.down_img img{
    margin: -10% 0 0 -10%;
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 140px;
}

.img_box {
    width: 60px;
    max-height: 30px;
    max-width: auto;
    margin: 0 0 0 10px;
    overflow: hidden;
    float: left;
}

.img_box img{
    margin: -15% 0 0 -15%;
    width: auto;
    height: auto;
    max-width: 80px;
    max-height: 120px;
}

@keyframes zoomIn {
  0% {
    transform: scaleX(0.4);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}