.result_content {
    width: 70%;
    height: 60%;
    padding: 4% 15% 7%;
    float: left;
}

.result_bar {
    width: 100%;
    height: 100%;
    padding: 1% 1% 1% 1%;
    display: block;
    background-color: #e5eaee;
    box-shadow: 3px 5px 15px #888;
    border-radius: 30px;
    
    animation: zoomIn 0.1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.result_top {
    width: 93.5%;
    height: 60px;
    margin: 30px 25px 10px 35px;
    float: left;
}

.result_name {
    width: 230px;
    height: 50px;
    float: left;
    margin: 3px 1% 0 2%;
}

.result_name a {
    font-weight: bold;
    font-size: 23px;
    color: #3e3f41;
}

.result_name p {
    font-size: 18px;
    color: #3e3f41;
}

.result_menu {
    width: 75%;
    height: 50px;
    float: left;
}

.result_menu li {
    list-style:none;
    width: auto;
    height: 30px;
    padding: 5px;
    margin: 0 6%;
    float: left;
    font-weight: bold;
    font-size: 18px;
    color: #3e3f41;
    cursor: pointer;
}

.result_active {
    box-shadow: 0px 5px 0px -2px #3e3f41;
}

.result_exit_button img {
    width: 40px;
    height: 40px;
    float: right;
}

.result_exit_button img:hover {
    cursor: pointer;
}

.result_middle {
    width: 92.5%;
    height: 420px;
    margin: 1% 0 0 4%;
    float: left;
}

.result_first {
    width: 25%;
    height: 100%;
    margin: 0 0.5%;
    float: left;
    background-color: #e5eaee;
    border-radius: 15px;
    box-shadow: 3px 5px 15px #888;
}

.item_name {
    width: 100%;
    height: 10%;
    float: left;
    background-color: #3e3f41;
    border-radius: 15px 15px 0 0;
    position: relative;
}

.item_name a {
    width: 95%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #e5eaee;
}

.item_img {
    width: 100%;
    height: 75%;
    float: left;
    position: relative;
    overflow: hidden;
}

.item_img img {
    width: 55%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item_button {
    width: 100%;
    height: 15%;
    float: left;
    padding: 0 0 0 4%;
}

.item_button div {
    width: 80px;
    height: 50px;
    float: left;
    margin: 0% 2.5%;
    position: relative;
    background-color: #3e3f41;
    border-radius: 10px;
}

.item_button div:hover {
    cursor: pointer;
}

.item_button a {
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: #e5eaee;
    font-weight: bold;
}

.result_second {
    width: 20%;
    height: 100%;
    margin: 0 0.5%;
    float: left;
    background-color: #e5eaee;
    border-radius: 15px;
    box-shadow: 3px 5px 15px #888;
}

.item_table {
    width: 100%;
    height: 90%;
    float: left;
    position: relative;
}

.item_table table {
    width: 90%;
    height: 94%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.items {
    width: 100%;
    height: 20%;
    text-align: center;
}

.items td {
    background-color: #e5eaee;
    border-radius: 10px;
    box-shadow: 3px 5px 15px #888;
}

.items td a {
    font-size: 18px;
    font-weight: bold;
    color: #3e3f41;
}

.result_third {
    width: 52%;
    height: 100%;
    margin: 0 0.5%;
    float: left;
    background-color: #e5eaee;
    border-radius: 15px;
    box-shadow: 3px 5px 15px #888;
}

.all_table {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
}

.all_table tr {
    padding: 0;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0px 1px 5px #888;
}

.all_table td {
    padding: 0;
    margin: 0;
    height: 4px;
    text-align: center;
}

.all_table .dataTables_info {
    width: 100%;
    font-size: 16px;
    margin: 12px 0;
}

.all_table .dataTables_filter {
    width: 100%;
    font-size: 12px;
    margin: 10px 0;
}

.row {
    text-align: center;
}

.all_table ul li {
    padding: 0;
    margin: 0;
    list-style:none;
    width: 25%;
    height: auto;
    float: left;
    text-align: center;
    border-radius: 5px;
    background-color: #3e3f41;
}

.all_table ul li a {
    color: #e5eaee;
    font-weight: bold;
    text-decoration: none;
}

.all_table ul li:hover {
    cursor: pointer;
}

.all_table .dataTables_wrapper {
    width: 95%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.all_table .sorting_desc, .all_table .sorting, .all_table .sorting_asc{
    font-size: 16px;
}

.all_table a {
    font-size: 13px;
}

.all_table .display {
    width: 100% !important;
}

.result_graph {
    width: 100%;
    height: 100%;
    margin: -40px 0 0 0;
}

.menu_search {
    width: 400px;
    height: 35px;
    float: right;
    margin: 0 3%;
    display: block;
}

.menu_calender {
    width: 35px;
    height: 35px;
    float: left;
    background-color: #e5eaee;
    box-shadow: 3px 5px 15px #888;
    border-radius: 20px;
    margin: 0 2%;
    position: relative;
}

.menu_calender img {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 48%;
    left: 50%;
    color: #3e3f41;
    transform: translate(-50%, -50%);
}

.menu_search_value {
    width: 85%;
    height: 35px;
    float: left;
    margin: 0 1%;
    background-color: #e5eaee;
    box-shadow: 3px 5px 15px #888;
    border-radius: 20px;
    position: relative;
}

.menu_search_value input {
    width: 70%;
    height: 20px;
    position: absolute;
    top: 48%;
    left: 6%;
    transform: translate(0%, -50%);
    background-color: #e5eaee;
    font-weight: bold;
    font-size: 12px;
    color: #3e3f41;
    border: none;
    float: left;
}

.menu_search_value input:focus {
    outline: none;
}

.ul_count {
    height: auto;
    max-height: 85px !important;
    background-color: #e5eaee;
    border-radius: 20px;
    box-shadow: 3px 5px 15px #888;
    margin: 40px 0 0 0;
}

.li_count {
    font-size: 16px;
    margin: 5px 20px;
    list-style: none;
}

.menu_search_value img {
    width: 25px;
    height: 25px;
    float: right;
    margin: 0 1%;
    position: absolute;
    top: 48%;
    right: 3%;
    transform: translate(0%, -50%);
}