.menu {
    padding: 15px;
    margin: 5px auto;
    
    float: left;
    width: 100%;
    background-color: #dbdcd9;
}

.menu_1 {
    padding: 0px 15px 30px 15px;
    margin: -5px auto;
    
    float: left;
    width: 100%;
    background-color: #dbdcd9;
}

.category_0 {
    width: 100%;
    background-color: #323232;
    float: left;
    height: 30px;
    display: table;
}

.category_0 a {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.category_1 {
    width: 100%;
    height: 50px;
    float: left;
    display: table;
    padding: 0px;
    margin: 0px;
    position: relative;
}

.category_1 ul {
    padding: 0px;
    margin: 10px 0px;
    width: 99%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.category_top {
    padding: 0px;
    margin: 1px;
    width: 19.8%;
    min-width: 150px;
    background: #dbdcd9;
    float: left;
    display: table;
}

.category_top:hover {
    background-color: lightyellow;
    cursor: pointer;
    transform: scale( 1.025 );
    border: 1px solid #323232;
}

.category_top a {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 25px;
    color: #323232;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin: 0px;
}

.category_top_1 {
    padding: 0px;
    margin: 4px;
    width: 32.5%;
    min-width: 120px;
    background: #dbdcd9;
    float: left;
    display: table;
}

.category_top_1:hover {
    background-color: lightyellow;
    cursor: pointer;
    transform: scale( 1.025 );
    border: 1px solid #323232;
}

.category_top_1 a {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 18px;
    color: #323232;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin: 0px;
}

.category_2 {
    width: 100%;
    height: 50px;
    float: left;
    display: none;
}

.weapon {
    width: 100%;
    height: 100%;
    display: table;
}

.weapon li {
    width: 33.1%;
    height: 25px;
    float: left;
    display: table;
    background-color: #dbdcd9;
    margin: 12px 1px;
}

.weapon li:hover {
    background-color: lightyellow;
    cursor: pointer;
    transform: scale( 1.025 );
    border: 1px solid #323232;
}

.weapon li a {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 20px;
    color: #323232;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin: 0px;
}

.mode {
    width: 100%;
    height: 100%;
    display: none;
}

.mode li {
    width: 14.2%;
    height: 25px;
    float: left;
    display: table;
    background-color: #dbdcd9;
    margin: 12px 1px;
}

.mode li:hover {
    background-color: lightyellow;
    cursor: pointer;
    transform: scale( 1.025 );
    border: 1px solid #323232;
}

.mode li a {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 20px;
    color: #323232;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin: 0px;
}

.etc {
    width: 100%;
    height: 100%;
    display: none;
}

.etc li {
    width: 49.8%;
    height: 25px;
    float: left;
    display: table;
    background-color: #dbdcd9;
    margin: 12px 1px;
}

.etc li:hover {
    background-color: lightyellow;
    cursor: pointer;
    transform: scale( 1.025 );
    border: 1px solid #323232;
}

.etc li a {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 20px;
    color: #323232;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin: 0px;
}

.rec {
    width: 100%;
    height: 100%;
    display: none;
}

.rec li {
    width: 99.8%;
    height: 25px;
    float: left;
    display: table;
    background-color: #dbdcd9;
    margin: 12px 1px;
}

.rec li:hover {
    background-color: lightyellow;
    cursor: pointer;
    transform: scale( 1.025 );
    border: 1px solid #323232;
}

.rec li a {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 20px;
    color: #323232;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin: 0px;
}

.category_3 {
    margin: 0px;
    width: 100%;
    min-height: 725px;
    height: 98%;
    float: left;
    border: 1px solid #000000;
    position: relative;
}

.category_4 {
    margin: 0px;
    width: 100%;
    min-height: 32px;
    float: left;
    border: 1px solid #000000;
    position: relative;
}

.category_box {
    width: 100%;
    min-height: 700px;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    overflow-y: scroll;
}

.item_0 {
    width: 250px;
    height: 300px;
    margin: 30px 3%;
    float: left;
    border: 1px solid #000000;
    background-color: #dbdcd9;
}

.item_0:hover {
    background-color: lightyellow;
    transform: scale( 1.05 );
    border: 1px solid #323232;
}

.item_0 p {
    text-align: center;
    max-width: 100%;
    height: 70%;
    overflow: hidden;
}

.item_0 p img {
    padding: 20px;
    max-width: 100%;
    width: 100%;
    margin-left: 0%;
    min-height: 170px;
    float: left;
    display: block;
}

.item_0 a {
    width: 100%;
    height: 30px;
    float: left;
    margin: 30px 0px 0px 0px;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 18px;
    color: #323232;
    text-align: center;
    vertical-align: middle;
}

.item_0 a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.item_0_text {
    width: 100%;
    height: 30px;
    float: left;
    margin: 5px 0px 0px 0px;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 18px;
    color: #323232;
    text-align: center;
    vertical-align: middle;
}

@media screen and (max-width: 1050px) {
    
    .category_1 {
        height: 280px;
    }
    
    .category_top {
        width: 100%;
        height: 50px;
    }
    
    .category_top_1 {
        width: 32.8%;
        margin: 1px;
    }
    
    .category_2 {
        height: auto;
    }
    
    .category_4 {
        min-height: 36px;
    }
    
    .weapon li {
        width: 99%;
        height: 25px;
        margin: 1px 0px;
    }
    
    .mode li {
        width: 99%;
        height: 25px;
        margin: 1px 0px;
    }
    
    .etc li {
        width: 99%;
        height: 25px;
        margin: 1px 0px;
    }
    
    .rec li {
        width: 99%;
        height: 25px;
        margin: 1px 0px;
    }
    
    .item_0 {
        margin: 30px 3%;
    }
}

@media screen and (max-width: 720px) {
    .item_0 {
        margin: 15px 4%;
        width: 170px;
        height: 190px;
    }
    
    .item_0 a{
        margin: 15px 0px 0px 0px;
        font-size: 12px;
    }
    
    .item_0 p img {
        min-height: 130px;
    }
    
    .item_0_text {
        margin: -10px 0px 0px 0px;
        font-size: 13px;
    }
}

@media screen and (max-width: 450px) {
    .item_0 {
        margin: 15px 4%;
        width: 130px;
        height: 150px;
    }
    
    .item_0 a{
        margin: 5px 0px 0px 0px;
        font-size: 12px;
    }
    
    .category_top_1 {
        min-width: 50px;
    }
}