<!DOCTYPE html>
<html lang = "ko">
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name="viewport" content="user-scalable=0, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" />
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="Exprires" content="-1">
        <meta http-equiv="Pragma" content="no-cache">
        <title>Warframe Trade Status (모든 인기 아이템 통계) [테스트]</title>
        <!---------------------------------------------------------------------->
        <link rel="stylesheet" type = "text/css" href = "{{ url_for('static', filename = '/css/new_css/new_index.css', v = 0.1) }}" />
    </head>
    <body>
        <div class="main">
            <div class="menu">
                <div class="menu_bar">
                    <img alt="" src="{{ url_for('static', filename = '/new_image/index/menu_bar.png', v = 0.1) }}">
                </div>
                <div class="logo">
                    <img alt="" src="{{ url_for('static', filename = '/new_image/index/new_logo.png', v = 0.1) }}">
                </div>
                <div class="language">
                    <img alt="" src="{{ url_for('static', filename = '/new_image/index/kr.png', v = 0.1) }}">
                    <img alt="" src="{{ url_for('static', filename = '/new_image/index/en.png', v = 0.1) }}">
                </div>
            </div>
            <div class="content">
                <div class="date_bar">
                    <div class="day_input">
                        <p>Day</p>
                        <img>
                        <a>19</a>
                    </div>
                    <div class="week_input">
                        <p>Week</p>
                        <img>
                        <a>3rd</a>
                    </div>
                    <div class="month_input">
                        <p>Month</p>
                        <p>Dec.</p>
                        <img>
                        <a>12th</a>
                    </div>
                </div>
                <div class="search_bar">
                    <div class="control_button">
                        
                    </div>
                    <div class="search">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer_content">
                <div class="info">
                    <a>자주묻는질문</a>
                    <a>문의</a>
                    <a>이용약관</a>
                    <a>기여</a>
                </div>
                <div class="icon">
                    <a>Discord</a>
                    <a>Patreon</a>
                    <a>Twitter</a>
                </div>
                <div class="ad">
                    광고
                </div>
                <div class="tos">
                    <p>면책조항</p>
                    <a>Digital Extremes Ltd, Warframe and the logo Warframe are registered trademarks. All rights are reserved worldwide. This site has no official link with Digital Extremes Ltd or Warframe. All artwork, screenshots, characters or other recognizable features of the intellectual property relating to these trademarks are likewise the intellectual property of Digital Extremes Ltd.</a>
                </div>
            </div>
        </div>
    </body>
</html>